include rootfilenames.cfg

# these are the so-called "critical" plots we want the shift crews to monitor closely:
# including: 
# 1. BBCAL trigger time
# 2. HCAL ADC time spectrum
# 3. BBCAL preshower and shower cluster energy sum distributions
# 4. GEM efficiencies
# 5. Maybe GEM ADC distributions?

newpage 2 2
title Beam
frastxy1 -drawopt colz -nostat
frastxy2 -drawopt colz -nostat
targ_xy -drawopt colz -nostat
macro SBSBCM.C()

newpage 2 2
title Beam - Raster 1 D
frastx1 -nostat
frasty1 -nostat
frastx2 -nostat
frasty2 -nostat

#newpage 2 2 
#title Beam - Raster Combined
#frastxy12 -drawopt colz -nostat
#frastxy12mm -drawopt colz -nostat
#frastx12 -nostat
#frasty12 -nostat

newpage 1 1
title Helicity
hscaler_hel

#newpage 1 2
#title Timing Checks
#macro TreeDraw.C("bb.hodotdc.clus.bar.tdc.meantime[0] - sbs.hcal.tdctimeblk>>hHCalHodo(250,-200,200)","")
#macro TreeDraw.C("sbs.hcal.tdctimeblk>>hHCaltdc(250,-2000,2000)","")

newpage 2 2 
#title BBCAL trigger TDC info
title Trigger TDC info
#macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc0(250,0,1000)","bb.tdctrig.tdcelemID==0&&fEvtHdr.fTrigBits==4")
#macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc1(250,0,1000)","bb.tdctrig.tdcelemID==1")
#macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc2(250,0,1000)","bb.tdctrig.tdcelemID==2")
#macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc3(250,0,1000)","bb.tdctrig.tdcelemID==1&&fEvtHdr.fTrigBits==4")
#macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc4(250,0,1000)","bb.tdctrig.tdcelemID==2&&fEvtHdr.fTrigBits==4")
#macro TreeDraw.C("(bb.tdctrig.tdc[2]- bb.tdctrig.tdc[0])>>hBBtrigtdc5(400,-100,100)","fEvtHdr.fTrigBits==4")
macro TreeDraw.C("sbs.hcal.Ref.tdc>>htrigtdc4(500,0.1,500.1)","sbs.hcal.Ref.tdcelemID==4")
macro TreeDraw.C("sbs.hcal.Ref.tdc>>htrigtdc5(500,0.1,500.1)","sbs.hcal.Ref.tdcelemID==5")
macro TreeDraw.C("sbs.hcal.Ref.tdc>>htrigtdc6(500,0.1,500.1)","sbs.hcal.Ref.tdcelemID==6")
macro TreeDraw.C("(sbs.hcal.Ref.tdc[3]- sbs.hcal.Ref.tdc[4])>>htrigtdcDiff(500,-250,250)")

## Basic Cluster Info
newpage 2 2
title Basic Cluster Info
hclus_mult -logy -nostat
hclus_size -logy -nostat
hclus_eng -logz -drawopt colz -nostat
h2clus_pos -logz -drawopt colz -nostat

#newpage 2 2
#title BBCAL diagnostic plots
#helemID_sh -nostat
#helemID_ps -nostat
#htotalClus_eng -logy -nostat
#hHEclus_eng_ps -logy -nostat

newpage 1 3 
title HCAL ADC and TDC time and correlation
macro TreeDraw.C("sbs.hcal.clus_blk.atime:sbs.hcal.clus_blk.tdctime>>hHCAL_atime_vs_tdctime(150,-300,300,150,0,175)","sbs.hcal.clus_blk.atime>0&&sbs.hcal.clus_blk.tdctime>-1000","colz")
macro TreeDraw.C("sbs.hcal.clus_blk.atime>>hHCAL_adctime(250,0.,250.)","sbs.hcal.clus_blk.atime>0&&sbs.hcal.clus_blk.e>0.15")
macro TreeDraw.C("sbs.hcal.clus_blk.tdctime>>hHCAL_tdctime(200,-300,300)");
#hATime_HCAL -drawopt colz -nostat
#hTDC_HCAL -drawopt colz -nostat

# newpage 1 1
# title SBS GEM correlation with HCal
# macro SBS_GEM_corr.C();

newpage 4 2
title FT GEM Layer hit maps on good tracks
macro GEM_hit_map.C(0, "sbs.gemFT", 1);
macro GEM_hit_map.C(1, "sbs.gemFT", 1);
macro GEM_hit_map.C(2, "sbs.gemFT", 1);
macro GEM_hit_map.C(3, "sbs.gemFT", 1);
macro GEM_hit_map.C(4, "sbs.gemFT", 1);
macro GEM_hit_map.C(5, "sbs.gemFT", 1);
macro GEM_hit_map.C(6, "sbs.gemFT", 1);
macro GEM_hit_map.C(7, "sbs.gemFT", 1);

newpage 4 2
title FPP GEM Layer hit maps on good tracks
macro GEM_hit_map.C(0, "sbs.gemFPP", 2);
macro GEM_hit_map.C(1, "sbs.gemFPP", 2);
macro GEM_hit_map.C(2, "sbs.gemFPP", 2);
macro GEM_hit_map.C(3, "sbs.gemFPP", 2);
macro GEM_hit_map.C(4, "sbs.gemFPP", 2);
macro GEM_hit_map.C(5, "sbs.gemFPP", 2);
macro GEM_hit_map.C(6, "sbs.gemFPP", 2);
macro GEM_hit_map.C(7, "sbs.gemFPP", 2);

newpage 4 2
title FT GEM Layer average efficiencies
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer0","hshouldhit_xy_sbs_gemFT_layer0",0,1);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer1","hshouldhit_xy_sbs_gemFT_layer1",1,1);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer2","hshouldhit_xy_sbs_gemFT_layer2",2,1);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer3","hshouldhit_xy_sbs_gemFT_layer3",3,1);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer4","hshouldhit_xy_sbs_gemFT_layer4",4,1);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer5","hshouldhit_xy_sbs_gemFT_layer5",5,1);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer6","hshouldhit_xy_sbs_gemFT_layer6",6,1);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFT_layer7","hshouldhit_xy_sbs_gemFT_layer7",7,1);

newpage 4 2
title FPP GEM Layer average efficiencies
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer0","hshouldhit_xy_sbs_gemFPP_layer0",0,2);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer1","hshouldhit_xy_sbs_gemFPP_layer1",1,2);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer2","hshouldhit_xy_sbs_gemFPP_layer2",2,2);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer3","hshouldhit_xy_sbs_gemFPP_layer3",3,2);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer4","hshouldhit_xy_sbs_gemFPP_layer4",4,2);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer5","hshouldhit_xy_sbs_gemFPP_layer5",5,2);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer6","hshouldhit_xy_sbs_gemFPP_layer6",6,2);
macro efficiency_hit_map.C("hdidhit_xy_sbs_gemFPP_layer7","hshouldhit_xy_sbs_gemFPP_layer7",7,2);

newpage 4 2 
title FT GEM Time Sample Peaking (good hits)
hsbs_gemFT_m0_iSampMaxU_good -nostat
hsbs_gemFT_m1_iSampMaxU_good -nostat
hsbs_gemFT_m2_iSampMaxU_good -nostat
hsbs_gemFT_m3_iSampMaxU_good -nostat
hsbs_gemFT_m4_iSampMaxU_good -nostat
hsbs_gemFT_m5_iSampMaxU_good -nostat
hsbs_gemFT_m6_iSampMaxU_good -nostat
hsbs_gemFT_m7_iSampMaxU_good -nostat

newpage 4 2 
title FT GEM Time Sample Peaking (good hits) (contd.)
hsbs_gemFT_m8_iSampMaxU_good -nostat
hsbs_gemFT_m9_iSampMaxU_good -nostat
hsbs_gemFT_m10_iSampMaxU_good -nostat
hsbs_gemFT_m11_iSampMaxU_good -nostat
hsbs_gemFT_m12_iSampMaxU_good -nostat
hsbs_gemFT_m13_iSampMaxU_good -nostat

newpage 4 4
title FPP GEM Time Sample Peaking (good hits)
hsbs_gemFPP_m0_iSampMaxU_good -nostat
hsbs_gemFPP_m1_iSampMaxU_good -nostat
hsbs_gemFPP_m2_iSampMaxU_good -nostat
hsbs_gemFPP_m3_iSampMaxU_good -nostat
hsbs_gemFPP_m4_iSampMaxU_good -nostat
hsbs_gemFPP_m5_iSampMaxU_good -nostat
hsbs_gemFPP_m6_iSampMaxU_good -nostat
hsbs_gemFPP_m7_iSampMaxU_good -nostat
hsbs_gemFPP_m8_iSampMaxU_good -nostat
hsbs_gemFPP_m9_iSampMaxU_good -nostat
hsbs_gemFPP_m10_iSampMaxU_good -nostat
hsbs_gemFPP_m11_iSampMaxU_good -nostat
hsbs_gemFPP_m12_iSampMaxU_good -nostat
hsbs_gemFPP_m13_iSampMaxU_good -nostat
hsbs_gemFPP_m14_iSampMaxU_good -nostat
hsbs_gemFPP_m15_iSampMaxU_good -nostat

newpage 4 4
title FPP GEM Time Sample Peaking (good hits) (contd.)
hsbs_gemFPP_m16_iSampMaxU_good -nostat
hsbs_gemFPP_m17_iSampMaxU_good -nostat
hsbs_gemFPP_m18_iSampMaxU_good -nostat
hsbs_gemFPP_m19_iSampMaxU_good -nostat
hsbs_gemFPP_m20_iSampMaxU_good -nostat
hsbs_gemFPP_m21_iSampMaxU_good -nostat
hsbs_gemFPP_m22_iSampMaxU_good -nostat
hsbs_gemFPP_m23_iSampMaxU_good -nostat
hsbs_gemFPP_m24_iSampMaxU_good -nostat
hsbs_gemFPP_m25_iSampMaxU_good -nostat
hsbs_gemFPP_m26_iSampMaxU_good -nostat
hsbs_gemFPP_m27_iSampMaxU_good -nostat
hsbs_gemFPP_m28_iSampMaxU_good -nostat
hsbs_gemFPP_m29_iSampMaxU_good -nostat
hsbs_gemFPP_m30_iSampMaxU_good -nostat
hsbs_gemFPP_m31_iSampMaxU_good -nostat
