include rootfilenames.cfg

########   Commonmode histograms    ########


newpage 3 2
title Module 0 Common-mode (XW FT L0 - G0)
hcommonmodeU_sorting_sbs_gemFT_m0 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m0 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m0 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m0 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m0 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m0 -drawopt colz

newpage 3 2
title Module 1 Common-mode (XW FT L1 - G0)
hcommonmodeU_sorting_sbs_gemFT_m0 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m0 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m0 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m0 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m0 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m0 -drawopt colz

newpage 3 2
title Module 2 Common-mode (UV FT L2 - G0)
hcommonmodeU_sorting_sbs_gemFT_m2 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m2 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m2 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m2 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m2 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m2 -drawopt colz

newpage 3 2
title Module 3 Common-mode (UV FT L3 - G0)
hcommonmodeU_sorting_sbs_gemFT_m3 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m3 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m3 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m3 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m3 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m3 -drawopt colz

newpage 3 2
title Module 4 Common-mode (UV FT L4 - G0)
hcommonmodeU_sorting_sbs_gemFT_m4 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m4 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m4 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m4 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m4 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m4 -drawopt colz

newpage 3 2
title Module 5 Common-mode (UV FT L5 - G0)
hcommonmodeU_sorting_sbs_gemFT_m5 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m5 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m5 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m5 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m5 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m5 -drawopt colz

newpage 3 2
title Module 6 Common-mode (XY FT L6 - G0)
hcommonmodeU_sorting_sbs_gemFT_m6 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m6 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m6 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m6 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m6 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m6 -drawopt colz

newpage 3 2
title Module 7 Common-mode (XY FT L6 - G1)
hcommonmodeU_sorting_sbs_gemFT_m7 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m7 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m7 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m7 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m7 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m7 -drawopt colz

newpage 3 2
title Module 8 Common-mode (XY FT L6 - G2)
hcommonmodeU_sorting_sbs_gemFT_m8 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m8 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m8 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m8 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m8 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m8 -drawopt colz

newpage 3 2
title Module 9 Common-mode (XY FT L6 - G3)
hcommonmodeU_sorting_sbs_gemFT_m9 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m9 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m9 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m9 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m9 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m9 -drawopt colz

newpage 3 2
title Module 10 Common-mode (XY FT L7 - G0)
hcommonmodeU_sorting_sbs_gemFT_m10 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m10 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m10 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m10 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m10 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m10 -drawopt colz

newpage 3 2
title Module 11 Common-mode (XY FT L7 - G1)
hcommonmodeU_sorting_sbs_gemFT_m11 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m11 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m11 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m11 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m11 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m11 -drawopt colz

newpage 3 2
title Module 12 Common-mode (XY FT L7 - G2)
hcommonmodeU_sorting_sbs_gemFT_m12 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m12 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m12 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m12 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m12 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m12 -drawopt colz

newpage 3 2
title Module 13 Common-mode (XY FT L7 - G3)
hcommonmodeU_sorting_sbs_gemFT_m13 -drawopt colz
hcommonmodeU_danning_sbs_gemFT_m13 -drawopt colz
hcommonmodeU_diff_sbs_gemFT_m13 -drawopt colz
hcommonmodeV_sorting_sbs_gemFT_m13 -drawopt colz
hcommonmodeV_danning_sbs_gemFT_m13 -drawopt colz
hcommonmodeV_diff_sbs_gemFT_m13 -drawopt colz


########   Pedestal histograms    ########
newpage 2 3
title Module 0 Pedestals (XW FT L0 - G0) 

hCommonModeMean_by_APV_U_sbs_gemFT_m0 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m0 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m0 -nostat
hpedmeanU_by_strip_sbs_gemFT_m0 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m0 -nostat
hpedmeanV_by_strip_sbs_gemFT_m0 -nostat

newpage 2 3
title Module 1 Pedestals (XW FT L1 - G0)

hCommonModeMean_by_APV_U_sbs_gemFT_m1 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m1 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m1 -nostat
hpedmeanU_by_strip_sbs_gemFT_m1 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m1 -nostat
hpedmeanV_by_strip_sbs_gemFT_m1 -nostat

newpage 2 3
title Module 2 Pedestals (UV FT L2 - G0)

hCommonModeMean_by_APV_U_sbs_gemFT_m2 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m2 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m2 -nostat
hpedmeanU_by_strip_sbs_gemFT_m2 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m2 -nostat
hpedmeanV_by_strip_sbs_gemFT_m2 -nostat

newpage 2 3
title Module 3 Pedestals (UV FT L3 - G0)

hCommonModeMean_by_APV_U_sbs_gemFT_m3 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m3 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m3 -nostat
hpedmeanU_by_strip_sbs_gemFT_m3 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m3 -nostat
hpedmeanV_by_strip_sbs_gemFT_m3 -nostat

newpage 2 3
title Module 4 Pedestals (UV FT L4 - G0)

hCommonModeMean_by_APV_U_sbs_gemFT_m4 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m4 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m4 -nostat
hpedmeanU_by_strip_sbs_gemFT_m4 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m4 -nostat
hpedmeanV_by_strip_sbs_gemFT_m4 -nostat

newpage 2 3
title Module 5 Pedestals (UV FT L5 - G0)

hCommonModeMean_by_APV_U_sbs_gemFT_m5 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m5 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m5 -nostat
hpedmeanU_by_strip_sbs_gemFT_m5 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m5 -nostat
hpedmeanV_by_strip_sbs_gemFT_m5 -nostat

newpage 2 3
title Module 6 Pedestals (XY FT L6 - G0)

hCommonModeMean_by_APV_U_sbs_gemFT_m6 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m6 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m6 -nostat
hpedmeanU_by_strip_sbs_gemFT_m6 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m6 -nostat
hpedmeanV_by_strip_sbs_gemFT_m6 -nostat


newpage 2 3
title Module 7 Pedestals (XY FT L6 - G1)

hCommonModeMean_by_APV_U_sbs_gemFT_m7 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m7 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m7 -nostat
hpedmeanU_by_strip_sbs_gemFT_m7 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m7 -nostat
hpedmeanV_by_strip_sbs_gemFT_m7 -nostat

newpage 2 3
title Module 8 Pedestals (XY FT L6 - G2)

hCommonModeMean_by_APV_U_sbs_gemFT_m8 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m8 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m8 -nostat
hpedmeanU_by_strip_sbs_gemFT_m8 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m8 -nostat
hpedmeanV_by_strip_sbs_gemFT_m8 -nostat

newpage 2 3
title Module 9 Pedestals (XY FT L6 - G3)

hCommonModeMean_by_APV_U_sbs_gemFT_m9 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m9 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m9 -nostat
hpedmeanU_by_strip_sbs_gemFT_m9 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m9 -nostat
hpedmeanV_by_strip_sbs_gemFT_m9 -nostat

newpage 2 3
title Module 10 Pedestals (XY FT L7 - G0)

hCommonModeMean_by_APV_U_sbs_gemFT_m10 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m10 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m10 -nostat
hpedmeanU_by_strip_sbs_gemFT_m10 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m10 -nostat
hpedmeanV_by_strip_sbs_gemFT_m10 -nostat

newpage 2 3
title Module 11 Pedestals (XY FT L7 - G1)

hCommonModeMean_by_APV_U_sbs_gemFT_m11 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m11 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m11 -nostat
hpedmeanU_by_strip_sbs_gemFT_m11 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m11 -nostat
hpedmeanV_by_strip_sbs_gemFT_m11 -nostat

newpage 2 3
title Module 12 Pedestals (XY FT L7 - G2)

hCommonModeMean_by_APV_U_sbs_gemFT_m12 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m12 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m12 -nostat
hpedmeanU_by_strip_sbs_gemFT_m12 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m12 -nostat
hpedmeanV_by_strip_sbs_gemFT_m12 -nostat

newpage 2 3
title Module 13 Pedestals (XY FT L7 - G3)

hCommonModeMean_by_APV_U_sbs_gemFT_m13 -drawopt colz -nostat 
hCommonModeMean_by_APV_V_sbs_gemFT_m13 -drawopt colz -nostat 
hpedrmsU_by_strip_sbs_gemFT_m13 -nostat
hpedmeanU_by_strip_sbs_gemFT_m13 -nostat 
hpedrmsV_by_strip_sbs_gemFT_m13 -nostat
hpedmeanV_by_strip_sbs_gemFT_m13 -nostat